@using SignalRMarketEx.Models
@model List<ItemEntity>
@{
    ViewBag.Title = "Market Exchange";
}
 @section scripts
    {
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/Scripts/jquery.signalR-1.0.0.min.js"></script>
        <script src="~/Scripts/knockout-2.2.0.js"></script>
        <script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-bootstrap.min.js"></script>
        <script src="~/Scripts/ui-bootstrap-tpls-0.2.0.min.js"></script>
        <script src="~/Scripts/marketexchange.js"></script>
        <script src="~/Scripts/marketex_angular.js"></script>
    }
<div id="wrapper">
    <button id="btnShowAdd" ng-controller="showItemController" ng-click="openDialog()" >Add An Item</button>
    <table id="tblMarket" ng-controller="itemController">
        <thead>
            <tr>
                <th>
                    Product
                </th>
                <th>
                    Description
                </th>
                <th>
                    Bid
                </th>
                <th>
                    Ask
                </th>
                <th>
                    Last Price
                </th>
                <th>
                    <input type="hidden" signal-r-directive-updated="updatedItem"  />
                </th>
            </tr>
        </thead>
        <tbody>
             <tr ng-cloak ng-repeat="item in items" id='itm_{{item.itemId}}' signal-r-directive-added="addedItem" >
                <td>
                    {{item.product}}
                </td>
                <td>
                    {{item.description}}
                </td>
                <td>
                    <span class="bid" id='bid_{{item.itemId}}'>{{item.bid}}</span>
                </td>
                <td>
                    <span class="ask" id='ask_{{item.itemId}}'>{{item.ask}}</span>
                </td>
                <td>
                    <span id='lastPrice_{{item.itemId}}' >{{item.lastPrice}}</span>
                </td>
                <td>
                    <input name="biddingPrice" style="width:50px;" ng-model="bidPrice" />
                    <a href="#" name="hrefbid" value='{{item.bid}}' id='href_{{item.itemId}}' ng-click="submitBid(item, bidPrice)">Bid</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
